{{#org-classes}}
<section class="classes">
  <div class="container">
    <div class="classes__content">
      <div class="classes__content__title">
        <span>Cooking</span>
        <h2>Classes</h2>
      </div>
      <div class="classes__content__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
          et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu
          fugiat nulla pariatur.
        </p>
      </div>
    </div>
  </div>
  <div class="row classes__product-slider p-0">
    <div class="classes__product-slider__item col-12 p-0">
      <div class="classes__product-slider__item__hover-effect">
        <h2>Tom Yum</h2>
      </div>
      <img src="assets/img/slide-1.png" alt="slide-1">
    </div>

    <div class="classes__product-slider__item col-12 p-0">
      <div class="classes__product-slider__item__hover-effect">
        <h2>Tom Yum</h2>
      </div>
      <img src="assets/img/slide-2.png" alt="slide-2">
    </div>

    <div class="classes__product-slider__item col-12 p-0">
      <div class="classes__product-slider__item__hover-effect">
        <h2>Tom Yum</h2>
      </div>
      <img src="assets/img/slide-3.png" alt="slide-3">
    </div>

    <div class="classes__product-slider__item col-12 p-0">
      <div class="classes__product-slider__item__hover-effect">
        <h2>Tom Yum</h2>
      </div>
      <img src="assets/img/slide-1.png" alt="slide-1">
    </div>

    <div class="classes__product-slider__item col-12 p-0">
      <div class="classes__product-slider__item__hover-effect">
        <h2>Tom Yum</h2>
      </div>
      <img src="assets/img/slide-2.png" alt="slide-2">
    </div>

    <div class="classes__product-slider__item col-12 p-0">
      <div class="classes__product-slider__item__hover-effect">
        <h2>Tom Yum</h2>
      </div>
      <img src="assets/img/slide-3.png" alt="slide-3">
    </div>
  </div>
  <div class="container">
    <div class="classes__arrows d-none d-lg-block col-lg-12">
      <div class="classes__arrows__left prev-slide d-none d-lg-block ">
        <img src="assets/img/left-arrow.png" alt="left">
      </div>
      <div class="classes__arrows__right next-slide d-none d-lg-block">
        <img src="assets/img/right-arrow.png" alt="right">
      </div>
    </div>
    <div class="classes__contact-us-btn">
      <a href="#">Contact Us</a>
    </div>
  </div>
</section>
{{/org-classes}}