{{#org-footer}}
<footer class="footer-main">
  <div class="container">
    <div class="footer-main__content">
      <div class="row">
        <div class="col-12 col-lg-3">
          <div class="footer-main__content__logo">
            <a href="#">
                <img src="assets/img/footer-logo.png" alt="footer-logo">
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="footer-main__content__menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-main__content__contact">
            <h3>Connect with us:</h3>
            <div class="footer-main__content__contact__socials">
              <div class="footer-main__content__contact__socials__item">
                <a href="#">
                  <i class="fa fa-facebook-f"></i>
                </a>
              </div>
              <div class="footer-main__content__contact__socials__item">
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-main__copyright">
    <span>Web Design by AIT, Inc</span>
  </div>
</footer>
{{/org-footer}}