{{#org-happy-client}}
<section class="happy-client" style="background-image: url(assets/img/testimonials.png)">
  <div class="container">
    <div class="happy-client__content">

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="happy-client__content__title">
            <span>Testimonials</span>
            <h2>Happy Client</h2>
          </div>
          <div class="happy-client__content__item testimonial-slider">
            <blockquote>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

              </p>
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
              </p>

              <span>John Smith</span>
            </blockquote>

            <blockquote>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
              </p>
              <span>John Smith</span>
            </blockquote>

            <blockquote>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
              </p>
              <span>John Smith</span>
            </blockquote>

            <blockquote>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
              </p>
              <span>John Smith</span>
            </blockquote>

            <blockquote>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
              </p>
              <span>John Smith</span>
            </blockquote>
          </div>
          <div class="happy-client__content__arrows">
            <div class="happy-client__content__arrows__left prev-slide d-none d-lg-block ">
              <img src="assets/img/left-arrow.png" alt="left">
            </div>
            <div class="happy-client__content__arrows__right next-slide d-none d-lg-block">
              <img src="assets/img/right-arrow.png" alt="right">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/org-happy-client}}