{{#org-tasting}}
<section class="tasting">
    <div class="container">
        <div class="tasting__content">
            <div class="tasting__content__title">
                <span>Wine</span>
                <h2>Tasting</h2>
            </div>
            <div class="tasting__content__main">
                <div class="row" id="lightgallery">
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-1.png" alt="wine-1">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>MAYACAMAS VINEYARDS CABERNET SAUVIGNON 1999</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-1">
                                    Read More
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-1 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-1" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-1.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-1 END -->
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-2.png" alt="wine-2">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>HERMANN J. WIEMER HJW VINEYARD RIESLING 2016</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-2">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-2 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-2" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-2" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-2.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-2 END -->
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-3.png" alt="wine-3">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>VIÑA VIK MILLAHUE 2012</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-3">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-3 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-3" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-3" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-3.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-3 END -->
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-4.png" alt="wine-4">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>KIR-YIANNI ESTATE RAMNISTA 2013</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-4">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-4 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-4" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-4" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-4.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-4 END -->
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-5.png" alt="wine-5">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>TABLAS CREEK VINEYARD ESPRIT DE TABLAS BLANC 2015</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-5">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-5 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-5" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-5" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-5.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-5 END -->
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-6.png" alt="wine-6">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>DELAMOTTE BLANC DE BLANCS BRUT 2008</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-6">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-6 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-6" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-6" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-6.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-6 END -->
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-7.png" alt="wine-7">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-7">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-7 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-7" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-7" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-7.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-7 END -->
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-8.png" alt="wine-8">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>DAMILANO BAROLO LECINQUEVIGNE 2013</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-8">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-8 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-8" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-8" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-8.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-8 END -->
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-5.png" alt="wine-5">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>TABLAS CREEK VINEYARD ESPRIT DE TABLAS BLANC 2015</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-9">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-9 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-9" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-9" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-5.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-9 END -->
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-6.png" alt="wine-6">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>DELAMOTTE BLANC DE BLANCS BRUT 2008</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-10">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-10 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-10" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-10" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-6.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-10 END -->
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-7.png" alt="wine-7">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-11">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-11 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-11" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-11" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-7.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-11 END -->
                    <div class="col-6 col-lg-3 item">
                        <div class="tasting__content__main__item">
                            <div class="tasting__content__main__item__image">
                                <img src="assets/img/wine-8.png" alt="wine-8">
                            </div>
                            <div class="tasting__content__main__item__info">
                                <h3>DAMILANO BAROLO LECINQUEVIGNE 2013</h3>
                            </div>
                            <div class="tasting__content__main__item__hover-effect">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-12">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-12 -->
                    <div class="modal fade tasting__content__main__modal" id="modal-12" tabindex="-1" role="dialog"
                        aria-labelledby="wine-modal-12" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered tasting__content__main__modal__dialog"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-body tasting__content__main__modal__dialog__body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-12 col-lg-5">
                                            <div class="tasting__content__main__modal__dialog__body__image">
                                                <img src="assets/img/wine-8.png" alt="wine">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="tasting__content__main__modal__dialog__body__wine-info">
                                                <h3>AZIENDA AGRICOLA ARIANNA OCCHIPINTI SP68 SICILIA ROSSO IGT 2017</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur.
                                                </p>
                                                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                    officia deserunt mollit anim id est laborum.
                                                </p>
                                                <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL-12 END -->
                </div>
                <div class="tasting__content__main__button">
                    <a href="javascript:void(0);" id="loadMore">Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{/org-tasting}}