{{#p-index}}
{{> ../head}}
{{> ../organisms/menu}}
{{> ../organisms/banner}}
{{> ../organisms/about-us}}
{{> ../organisms/classes}}
{{> ../organisms/training}}
{{> ../organisms/tasting}}
{{> ../organisms/happy-client}}
{{> ../organisms/footer}}
{{> ../foot}}
{{/p-index}}